
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #007BFF;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position:relative;
    bottom: 0;
    width: 100%;
}


#presentation {
    background-color: #fff;
}


#projets {
    background-color: #f4f4f4;
}


#formulaire {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}



label {
    margin-bottom: 4px;
}

input,
textarea {
    margin-bottom: 16px;
    padding: 8px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}




